<header class="header">
    <nav class="text-center">
        <a href="/">Home</a>
        <a href="/pokemon">Favorites</a>
    </nav>
</header>

<div id="banner"></div>

<div class="details">
    <h1 class="title"> More Details About Your Pokemon <%= pokemon.name %> </h1>
    <div id="stats">
        <h2> STATS </h2>
        <ul>
            <li>Type: <%= pokemon.types[0].type.name %></li>
            <li>Species: <%= pokemon.species.name %></li>
            <li>Forms: <%= pokemon.forms[0].name %></li>
            <li>Abilities: <%= pokemon.abilities[0].ability.name %>, <%= pokemon.abilities[1].ability.name %></li>
            <li>Moves: <%= pokemon.moves[0].move.name %></li>
        </ul>
    </div>
</div>
